<template>
  <div>
    <div v-for="(task, index) in taskdata" :key="index" ref="tasks" class="todo-box">
      <!-- TODO: Potrzebna logika do oznaczania zadania jako zrobionego (statusy zadań) -->
      <input class="state" type="checkbox" @change="changeTaskStateInCurentContext(index)">
      <input ref="task" :value="task.name" class="taskElement" disabled type="text">
      <!-- TODO: Potrzebna logika do blokowania i odblokowywania edycji zadania -->
      <a class="todo-edit" href="#" @click="enableEditingInCurrentContext(index)">
        <i class="fas fa-edit"></i>
      </a>
      <!-- TODO: Potrzebna logika do usuwania zadań      -->
      <a class="todo-delete" href="#">
        <i class="fas fa-trash"></i>
      </a>
    </div>
  </div>
</template>

<script>
export default {
  name: "TodoBox",
  state: '',
  props: [
    'taskdata'
  ],
  data() {
    return {}
  },
  methods: {
    enableEditingInCurrentContext(index) {
      let $inputTaskName = this.$refs.tasks[index].children[1];
      if ($inputTaskName.hasAttribute('disabled')) {
        return $inputTaskName.removeAttribute('disabled');
      } else if ($inputTaskName.value.length < 0) {
        $inputTaskName.setAttribute('class', 'borderError')
        return $inputTaskName.removeAttribute('disabled');
      } else {
        return $inputTaskName.setAttribute('disabled', 'disabled');
      }
    },
    changeTaskStateInCurentContext(index) {
      let $checkboxState = this.$refs.tasks[index].children[0];
      if ($checkboxState.hasAttribute("checked")) {
        this.state = 'ready'
      } else {
        this.state = 'in-progress'
      }
      this.$emit('stateIndex', {
        index: index,
        state: this.state
      });
    }
  }
}
</script>

<style scoped lang="scss">

* {
  .borderError {
    border: 2px solid darkred;
  }
}

div.todo-box {
  display: flex;
  align-items: center;
  justify-content: space-between;

  input[type="text"] {

  }

  input[type="checkbox"] {
    width: 30px;
    height: 30px;
    display: block;
    appearance: none;
    margin: 5px;
    box-shadow: none;
    border-radius: 10px;
    transition: border .100s ease-in-out;
    cursor: pointer;

    &:checked:after {
      color: white;
    }

    &:after {
      content: '✔';
      display: block;
      color: rgba(79, 81, 94, 0.15);
      font-size: 30px;
      transform: translateY(-35%);
    }
  }
  a {
    text-decoration: none;
    margin-bottom: 15px;
    & * {
      text-decoration: none;
    }

    i {
      color: white;
      font-size: 22px;
      margin-left: 10px;
    }

    &.todo-edit {
      i {
        &:hover {
          color: rgba(255, 255, 255, 0.4);
        }
      }
    }

    &.todo-delete {
      i {
        &:hover {
          color: rgba(224, 69, 69, 0.97);
        }
      }
    }
  }
}
</style>