<template>
  <div class="container">
    <header class="header-app-name">
      Todo
    </header>
    <div class="container-inner">
      <div class="title-box">
        <input type="text" class="title-input" placeholder="Name your todolist">
      </div>
      <div class="todo-container">
        <div class="todo-new-element">
          <input v-model="task" class="todo-app-new-element-input" placeholder="Add new element" type="text"
                 @keyup.enter="pushTaskToTasklist()">
          <button class="todo-new-element-add-new-element" @click="pushTaskToTasklist()"></button>
        </div>
        <TodoBox :taskdata="tasks" @stateIndex="stateData"/>
      </div>
    </div>
  </div>
</template>

<script>
import TodoBox from '@/components/TodoBox'


export default {
  data() {
    return {
      task: '',
      stateData: {},
      tasks: []
    }
  },
  name: 'App',
  components: {
    TodoBox
  },
  watch: {
    stateData: function () {
      console.log(this.stateData());
    },
    tasks: function () {
      console.log(this.tasks);
    }
  },
  methods: {
    pushTaskToTasklist() {
      if (this.task.length === 0) return;
      this.tasks.push(
          {
            name: this.task,
            state: 'in-progress'
          }
      );
      this.task = '';
    }
  }
}
</script>

<style lang="scss">
* {box-sizing: border-box;}
#app {
  font-family: "Rockwell Extra Bold", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #222931;
  margin-top: 60px;
}
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  input:not(input[type="checkbox"]) {
    width: 100%;
    background: none;
    border: 0;
    padding: 10px;
    margin: 0 0 15px 0;
    outline: none;

    border-bottom: 2px solid #7C2DC6;
    color: white;
    font-size: 22px;

    transition: .255s cubic-bezier(.54,.3,.15,.39);
    &:focus {
      box-shadow: 2px 6px 15px #7C2DC6;
      border-radius: 15px;
    }
  }
}
div.container {
  width: 100%;
  height: 100%;
  background: #222931;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  header.header-app-name {
    margin: 5vh 0;
    font-size: 52px;
    text-transform: uppercase;
    letter-spacing: 40px;
    font-family: "Rockwell Condensed",sans-serif;
    user-select: none;
    color: white;
    text-align: center;
  }
  div.container-inner {
    width: 35vw;
    height: 75vh;
    position: absolute;
    top: 20vh;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    div.title-box {
      width: 100%;
      margin-bottom: 10vh;
    }
    div.todo-container {
      width: 100%;
      div.todo-new-element {
        display: flex;
        button {
          width: 30px;
          height: 30px;
          margin-left: -45px;
          margin-top: .6vh;
          display: flex;
          justify-content: center;
          align-items: center;
          appearance: none;
          border: none;
          background: transparent;
          &:after {
            content: '+';
            opacity: 0;
            border-radius: 50px;
            color: white;
            font-size: 2.144em;
            font-weight: 700;
            transition: opacity .35s ease-in-out;
            perspective: 1000px;
            text-shadow: 2px 2px 5px #262e3a;
          }

          &:hover:after {
            color: rgba(255, 255, 255, 0.8);
          }

          &:active:after {
            transform: scale(0.8) translate3d(2px, 2px, 10px);
          }
        }
        input[type="text"]:focus ~ button {
          &:after {
            opacity: 1;
          }
        }
      }
    }
    @media (max-width: 1020px) {
      width: 80vw;
    }
  }
}
</style>
